<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="HandheldFriendly" content="True"/>
        <title>{% block title %}AdmingeneratorGeneratorBundle{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets              
                'bundles/admingeneratorgenerator/css/ui-lightness/jquery-ui-1.10.3.custom.css'
                'bundles/admingeneratorgenerator/css/colorbox.css'
                'bundles/pinanoselect2/css/select2.css'
                'bundles/admingeneratorgenerator/css/admin.less' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            
            {# Для select2 #}
            {% if form is defined and form != false %}
                {{ form_stylesheet(form) }}
            {% endif %}
            
        {% endblock %}

        {% block javascript_head %}
            {% javascripts
                'components/jquery/jquery.js'           
                '@AdmingeneratorGeneratorBundle/Resources/public/js/jquery-ui-1.10.3.custom.js'
                '@AdmingeneratorGeneratorBundle/Resources/public/js/common.js'
                '@AdmingeneratorGeneratorBundle/Resources/public/js/menu.js'
                '@AdmingeneratorGeneratorBundle/Resources/public/js/jquery.colorbox.js'
                '@AdmingeneratorGeneratorBundle/Resources/public/js/jquery.nl-admin-tab.js'
                '@PinanoSelect2Bundle/Resources/public/js/select2.min.js'
                '@AdmingeneratorGeneratorBundle/Resources/public/js/footable/footable.js' %}
                <script src="{{ asset_url }}"></script> 
                
                
            {% endjavascripts %}
            
                
            {# Календарь перевод и select2 #}
            {% if app.request.locale == 'ru' %}
                {% javascripts
                    '@AdmingeneratorGeneratorBundle/Resources/public/js/i18n/jquery.ui.datepicker-ru.js'
                    '@PinanoSelect2Bundle/Resources/public/js/select2_locale_ua.js' %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}        
            {% elseif app.request.locale == 'uk' %}        
                {% javascripts
                    '@AdmingeneratorGeneratorBundle/Resources/public/js/i18n/jquery.ui.datepicker-uk.js'
                    '@PinanoSelect2Bundle/Resources/public/js/select2_locale_ua.js' %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}        
            {% endif %}
            
            {# Для select2 #}
            {% if form is defined and form != false %}
                {{ form_javascript(form) }}    
            {% endif %}
                    
            <!--Start of Zopim Live Chat Script-->
            <script type="text/javascript">
            window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
            d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
            _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
            $.src='//v2.zopim.com/?1xSAGAVXd7HECBMDF8gWMQDZfYiRKckU';z.t=+new Date;$.
            type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
            </script>
            <!--End of Zopim Live Chat Script-->  
            {% if app.user  %}
               <script> 
                    $zopim(function() {
                      $zopim.livechat.setName('{{ app.user.username }}');
                      $zopim.livechat.setEmail('{{ app.user.email }}');
                    });
               </script>
            {% endif %}
                    
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body {% block body_class '' %}>
        <div class="header {% block header_class %}{% endblock %}">
            {% block header %}

                {% block logo %}
                    <div class="logo_header">
                        {% block logo_image %}
                            <img class="logo_img" src="" alt="" />
                        {% endblock logo_image %}
                        {% block logo_name %}
                            <a class="logo" href="#">NitraTheme</a>
                        {% endblock logo_name %}
                    </div>
                {% endblock %}
            
                {% block menu_mobile %}
                    <div class="menu_mobile">
                        <a href="#" onclick="toggleBlock('.list_bar', this);" class="i_table"></a>
                        <a href="#" onclick="toggleBlock('.list_filters', this);" class="i_filter"></a>
                        <a href="#" onclick="toggleBlock('.menu_settings', this);" class="i_settings"></a>
                        <a href="#" onclick="toggleBlock('.menu_main', this);" class="i_menu"></a>
                    </div>
                {% endblock menu_mobile %}

                {% block menu_settings %}
                    {% if app.user %}
                        <div class="menu_settings menu_drop">
                            <ul>
                                {% block menu_store %}
                                    <li>
                                        <span class='link'>{{ 'profile.store'|trans({}, 'Store') }}</span>
                                        <span class="drop_list">
                                            <a href="#" class="selected">Магазин</a>
                                            <ul class="menu_level_1">
                                                <li><a>Shop1</a></li>
                                                <li><a>Shop2</a></li>
                                            </ul>    
                                        </span>
                                    </li>
                                {% endblock menu_store %}
                                
                                {% block menu_language %}
                                    <li>
                                        <span class='link'>{{ 'profile.language'|trans({}, 'Language') }}</span>
                                        <span class="drop_list">
                                            <a href="#" class="selected">Язык</a>
                                            <ul class="menu_level_1">
                                                <li class="active"><a>Russian</a></li>
                                                <li><a>Russian2</a></li>
                                            </ul>
                                        </span>
                                    </li>
                                {% endblock menu_language %}
                                
                                <li>
                                    <span class="username">{{ app.user }}</span>
                                </li>
                                <li>
                                    <a class='' href="{{ (admingenerator_config('logout_path') is not null) ? path(admingenerator_config('logout_path')) : '#' }}">{{ 'profile.logout'|trans({}, 'Admingenerator') }}</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                {% endblock menu_settings %}
            
                {% block menu_main %}
                    <div class="menu_main menu_drop">
                        {{ millwright_menu_render('main') }}
                    </div>
                {% endblock menu_main %}

            {% endblock %}
        </div>

        {% block flashes %}
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="notification_box {{ type }}">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}

        <div class="content">
            {% block body %}{% endblock %}
        </div>

          {# javascript для скрытия иконок фильтров и действий  #}
            {% block javascripts %}
                <script> 
                if($('.list_filters').size() === 0){
                    $('a.i_filter').hide();
                }
                if($('.list_actions').size() === 0){
                    $('a.i_table').hide();
                }
                </script>
            {% endblock %}
    </body>
</html>
